@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap');

.titulo-principal {
  padding: 20px;
  background-color: rgb(30, 62, 110);
}

.titulo-principal h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Centraliza horizontalmente */
  background-color: rgb(227, 233, 233);
  width: 100vw; /* Define a largura como 100% da viewport */
}

.image-container3 {
  padding: 20px;
  flex: 0 0 auto;
  margin-right: 20px;
}

.image-container3 img {
  max-width: 70vh; /* Defina a largura máxima desejada */
  height: auto; /* Ajusta a altura proporcionalmente */
}

.content-container3 {
  flex: 1 1 auto;
}

.container3 h2 {
  font-size: 24px;
  font-weight: bold;
  color: #0d1e36;
}

.container3 p {
  font-size: 18px;
  color: rgb(73, 86, 99);
}

.container4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end; /* Centraliza horizontalmente à direita */
  background-color: #fff;
  width: 100vw;
}

.image-container4 {
  padding: 20px;
  flex: 0 0 auto;
  margin-left: 20px;
}

.image-container4 img {
  max-width: 85vh; /* Define a largura máxima como 100% do container */
  height: auto; /* Ajusta a altura proporcionalmente */
}

.text-container4 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 75px;
}

.text-container4 h2 {
  font-size: 35px;
  font-weight: bold;
  color: #0d1e36;
  margin-bottom: 30px;
}

.text-container4 p {
  font-size: 20px;
  color: rgb(73, 86, 99);
}


@media (max-width: 767px) {
  .image-container4 img {
    max-width: 100%; /* Reduz a largura máxima para ocupar todo o espaço disponível */
    height: auto; /* Ajusta a altura proporcionalmente */
  }
}


@media (max-width: 767px) {

  .container4 {
    justify-content: center; /* Centraliza horizontalmente */
  }

  .image-container4 {
    padding: 0px;
    margin-top: 20px;
    margin-left: 0;
    max-width: 100%; /* Diminui o tamanho do container da imagem em telas menores */
  }  

  .text-container4 {
    text-align: center;
  }

  .text-container4 h2 {
    font-size: 19px;
  }

  .text-container4 p {
    font-size: 16px;
  }
}






/* Media query para telas menores */
@media (max-width: 768px) {
  .container3 {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .image-container3 {
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .image-container3 img {
    max-width: 100%; /* Ajusta a largura máxima para ocupar todo o espaço disponível */
  }
}
