.info-imagee {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 20.25%;
  margin: 0 auto;
  margin-bottom: 0px;
  overflow: hidden;
}

.info-imagee img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.info-imagee .overlayy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  color: #ffffff;
  text-align: center;
}

.info-imagee .overlayy .image-textt {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-imagee .overlayy h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.infoo-imagee2 {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 20.25%;
  margin-bottom: 0px;
  overflow: hidden;
}

.infoo-imagee2 img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .infoo-imagee2 {
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }
  
  .infoo-imagee2 img {
    height: auto;
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .info-imagee .overlayy {
    transform: translate(-55%, -150%);
  }

  .info-imagee .overlayy .image-textt {
    font-size: 20px;
  }

  .info-imagee .overlayy h2 {
    font-size: 40px;
  } 
}

.coontainerr1 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.coontainerr1 h1 {
  font-size: 25px;
  font-weight: bold;
  color: #0d1e36;
  margin-bottom: 30px;
}

.texxt-containerr1 h2 {
  font-size: 12px;
  font-weight: bold;
  color: #226cd3;
  margin-bottom: 30px;
}
.texxt-containerr1 p {
  font-size: 12px;
  color: rgb(73, 86, 99);
}

.imagee-containerr1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  width: 100vw;
  margin-top: -650px; /* Adicione a margem superior desejada */
}


.imagee-containerr1 {
  padding: 20px;
  flex: 1 1 auto; /* Alterado para flex: 1 1 auto */
  margin-left: auto; /* Alterado para margin-left: auto */
}

.imagee-containerr1 img {
  max-width: 75%; /* Defina o valor desejado para diminuir o tamanho */
  height: auto; /* Ajusta a altura proporcionalmente */
}

.subtitulo h4 {
  font-weight: bold;
  color: #0d1e36;
  padding: 40px;
  font-size: 18px;
}

.infoo-imagee3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.infoo-imagee3 img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .imagee-containerr1 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 20px;
    margin-top: 30px;
  }

  .infoo-imagee3 {
    padding: 30px;
    width: 75%;
    height: auto;
    margin-top: 20px;
  }
}


