.my-section {
  background-color: #ffffff;
  padding: 30px;
}

.my-section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.my-section-content h2 {
  width: 100%;
}

.section-title {
  color: #3399CC;
  font-size: 19px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
}

.image-container2 {
  position: relative;
  margin: 10px;
  border: 2px solid #fff;
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 600px; /* Aumentado o tamanho máximo da imagem */
  text-align: center;
  filter: grayscale(0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: calc(70% - 45px);
  margin-bottom: 20px;
  margin-top: 40px;
}

.image-container2 img {
  width: 100%;
  height: auto;
  border-radius: 0px;
  transition: filter 0.3s ease;
  max-width: 100%;
  max-height: 1500px; /* Aumentado o tamanho máximo da imagem para telas menores */
}


@media (max-width: 768px) {
  .image-container2 {
    width: calc(50% - 35px);
    max-width: 150%; /* Ajustado o tamanho máximo da imagem para telas menores */
    max-height: 300px; /* Ajustado o tamanho máximo da imagem para telas menores */
  }
  
  .image-container2 img {
    max-height: 200px; /* Aumentado o tamanho máximo da imagem para telas menores */
  }
}

@media (max-width: 480px) {
  .image-container2 {
    width: calc(100% - 35px);
  }
}


.image-container2:hover img {
  filter: grayscale(100%);
}

.image-container2 .image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 0 5px 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container2:hover .image-caption {
  opacity: 1;
}

.image-container2 .image-caption h4 {
  color: #3399CC;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.image-container2 .image-caption p {
  color: #000;
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.image-container2:hover .image-caption {
  transform: translateY(0);
}

.image-caption h4 {
  color: #3399CC;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.image-caption p {
  color: #000;
  font-size: 12px;
  margin: 0;
}


  
  .image-container2 img {
    max-height: 1500px; /* Aumentado o tamanho máximo da imagem para telas menores */
  }


