.info-image {
  position: relative;
  width: 100%;
  height: 75vh;
  padding-bottom: 20.25%;
  margin: 0 auto;
  margin-bottom: 0px;
  overflow: hidden;
}

.info-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.fact-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.fact {
  flex: 1 0 100px; /* Ajuste a largura desejada */
  margin: 0 50px;
  font-weight: bold;
}

.fact-number {
  font-size: 80px;
  font-weight: bold;
}

.fact-label {
  font-weight: bold;
  font-size: 40px;
  margin-top: 25px; 
}

.info-box h4 {
  padding:75px;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .info-image {
    padding-bottom: 0;
  }
  
  .info-image img {
    height: auto; /* A altura será ajustada automaticamente para exibir a imagem completa */
  }
  
  .info-box {
    padding: 10px;
  }
  .info-box h4 {
    padding: 5px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .fact-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .fact-label {
    font-size: 16px;
    margin-top: 5px;
  }

  .fact {
    flex: 0 0 50%; /* Altere o valor conforme desejado para ajustar o número de itens por linha */
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .info-image {
    padding-bottom: 0; /* Remova o padding-bottom para a imagem ocupar a altura total */
  }
  
  .info-image img {
    height: 75vh; /* A altura será ajustada automaticamente para exibir a imagem completa */
  }
  
  .info-box {
    padding: 1px;
  }

  .fact-number {
    font-size: 25px;
  }

  .fact-label {
    font-size: 15px;
    margin-top: 5px;
  }

  .fact-container {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .fact {
    flex: 0 0 80%; /* Altere o valor conforme desejado para ajustar a largura do item */
    margin: 5px 0;
  }
}
