.quemsomos {
  background-color: rgb(171, 172, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.quemsomos h1 {
  font-size: 7vw; /* ou outra unidade de medida relativa, como em */
  color: #011324;
  margin: 0;
  font-weight: bold;
  padding: 15px;
  text-align: left;
}

.quemsomos div {
  margin-top: 20px;
}

.quemsomos h2 {
  font-size: 5vw; /* ou outra unidade de medida relativa, como em */
  font-weight: bold;
  color: #041c30;
  margin: 0;
  padding: 15px;
  text-align: left;
}

.quemsomos h3 {
  font-size: 4.5vw; /* ou outra unidade de medida relativa, como em */
  color: #2c4057;
  margin: 0;
  padding-bottom: 20px;
  padding: 15px;
  text-align: left;
  

}

.saiba-mais-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent;
  color: #083972;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  border: 1px solid #083972;
}

.saiba-mais-btn:hover {
  background-color: #012657;
  color: aliceblue;
}

@media (min-width: 768px) {
  .quemsomos {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 100px 0;
  }

  .quemsomos div {
    margin-top: 0;
    margin-left: 20px;
  }

  .quemsomos h1 {
    font-size: 40px;
  }

  .quemsomos h2 {
    font-size: 40px;
  }

  .quemsomos h3 {
    font-size: 20px;
  }

 
    
  
}