.navbar {
  background-color: #f8f9fa;
  height: 130px; /* Aumenta a altura da navbar para 80px */
}

/* Restante do seu código CSS */

  
  .navbar-nav .nav-link {
    color: #333; 
  }
  
  .navbar-logo {
    width: 500px; 
    height: auto;
    padding: 20px;
  }
  .navbar-brand-divider {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: center;
  }

  .navbar-brand-divider .navbar-brand {
    font-size: 24px;
    color: #3399CC;
  }

  .navbar-brand-divider .navbar-subtext {
    margin-top: 5px;
    color: #3399CC; 
  }

  .navbar-nav .nav-link {
    color: #101b4e;
    font-size: 30px;
  }
  
 
  