@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100&display=swap');

.tituloo-principal8 {
  padding: 20px;
  background-color: rgb(30, 62, 110);
}

.tituloo-principal8 h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.coontainer8 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end; /* Centraliza horizontalmente à direita */
  background-color: #fff;
  width: 100vw;
}

.teexxt-containerrt5 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.teexxt-containerrt5 h2 {
  font-size: 25px;
  font-weight: bold;
  color: #0d1e36;
  margin-bottom: 30px;
}

.teexxt-containerrt5 h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0d1e36;
  margin-bottom: 10px;
}

.teexxt-containerrt5 p {
  font-size: 20px;
  color: rgb(73, 86, 99);
}

.teexxt-containerrt5 svg {
  margin-right: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container svg {
  margin-right: 10px;
}

.conntainer-2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; /* Alinhado ao topo */
  height: 100vh;
  margin-top: -425px; /* Margem negativa para elevar a div */
  margin-right: 280px; /* Margem para o lado esquerdo */
}

.formm-container-2 {
  max-width: 400px;
  padding: 5px;
  background-color: #ffffff;
}

h3 {
  font-size: 15px;
  color: #0d1e36;
  font-weight: bold;
  text-align: left; /* Centraliza o texto */
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.form-group {
  margin-bottom: 10px;
}

.formm-container-2 input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 75px; /* Aumenta a altura do campo */
  padding: 20px;
  border: 1px solid #666464; /* Aumenta a espessura da borda */
  border-radius: 4px;
  margin-right: 180px; /* Adiciona margem à direita */
  margin-left: 0px; /* Adiciona margem à esquerda */
}

.formm-container-2 button[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent;
  color: #083972;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  border: 1px solid #083972;
}

.formm-container-2 button[type="submit"]:hover {
  background-color: #012657;
  color: aliceblue;
}

input[type="checkbox"] {
  margin-right: 30px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .coontainer8 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .conntainer-2 {
    margin-top: -300px; /* Reduz a margem negativa para telas menores */
    margin-right: 0; /* Remove a margem para o lado esquerdo */
    justify-content: center; /* Centraliza horizontalmente */
  }

  .formm-container-2 input[type="text"],
  input[type="email"],
  textarea {
    margin-right: 0; /* Remove a margem à direita */
    margin-left: 0; /* Remove a margem à esquerda */
  }
  .teexxt-containerrt5 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .teexxt-containerrt5 p {
    font-size: 14px;
    color: rgb(73, 86, 99);
    margin-bottom: 110px; /* Adiciona um espaço de 20 pixels para baixo */
  }
  .teexxt-containerrt5 h3 {
    font-size: 14px;
    margin-bottom: 55px;
  }
}
