.coontainer8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: #fff;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.teexxt-containerrt5 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.teexxt-containerrt5 h2 {
  font-size: 25px;
  font-weight: bold;
  color: #0d1e36;
  margin-bottom: 30px;
}

.teexxt-containerrt5 h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0d1e36;
  margin-bottom: 10px;
}

.teexxt-containerrt5 p {
  font-size: 20px;
  color: rgb(73, 86, 99);
}

.teexxt-containerrt5 svg {
  margin-right: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container svg {
  margin-right: 10px;
}




/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .coontainer8 {
    align-items: flex-start;
  }

  .teexxt-containerrt5 h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 0;
    margin-right: 150px;
  }

  .teexxt-containerrt5 p {
    font-size: 14px;
    color: rgb(73, 86, 99);
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
    margin-left: 0;
    margin-right: 120px;
  }

  .teexxt-containerrt5 h3 {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 0;
    margin-right: 200px;
  }
}

.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  110vh;
  padding: 75px;
}

.formulario-container form {
  width: 100%;
}

.formulario-container h1 {
  color: #0d1e36;
  font-size: 15px;
  text-align: left;
}

.formulario-container .form-group {
  margin-bottom: 15px;
}

.formulario-container .checkbox-group {
  margin-top: 10px;
  margin-bottom: 15px;
}

.formulario-container input[type="text"],
.formulario-container input[type="email"],
.formulario-container textarea {
  width: 100%;
  padding: 10px;
}

.formulario-container textarea {
  resize: vertical;
}

.formulario-container .checkbox-group {
  margin-top: 10px;
  margin-bottom: 15px;
}

.formulario-container button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent;
  color: #083972;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  border: 1px solid #083972;
}
.formulario-container button:hover {
  background-color: #012657;
  color: aliceblue;
}

